<!-- views/partials/footer.ejs -->
<footer class="bg-black text-white p-4 mt-8 " style="box-shadow: 0 -1px 7px rgba(242, 255, 0, 0.75);">
    <div class="container mx-auto text-center">
        <p>BTC: <span class="text-gold">bc1qaxjm5nfel2lcmc8zgjuxg3gavlncxaqgpcm7zh</span></p>
        <p>USDT (TRC 20): <span class="text-gold">TVJyi62nQ1jNqQgvEe885dkWqzSvzqKDXR</span></p>
    </div>

    <p class="text-center mt-4">© <%= new Date().getFullYear() %> <%= t('title') %></p>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
